@charset "UTF-8";

@import 'normalize.css';
@import 'kube.css';

*,:after,:before {
  box-sizing: inherit !important;
}

html {
  overflow-y: scroll;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: greyscale;
  zoom: 1;
  *zoom: 1;
  font-size: 100%;
}

html,body {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-size: 16px;
  line-height: 1.4;
}

#main {
  max-width: 960px;
  width: 100%;
  margin: 50px auto;
}
